@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url(https://fonts.googleapis.com/css?family=Do+Hyeon);
/*------------------   메  인  -----------------------------------------------*/
.brandLogo{
font-size: 50px;
background-image:url("../img/a.png");
background-size: 170px 120px;
background-repeat: no-repeat;
color:#000000;
font-family:serif;
}
.navbar-brand{
font-size: 50px;
}
#navbar1{
font-size: 20px;	
}
#navfont{
	font-family: 'Jeju Gothic';
	font-size: 20px;
}
#navbar1 p:hover,#navbar1 a:hover{
	color:blue;
}
.brandLogo:hover{
	color: gray;
}
h1,h2,h3,h4,p{
	font-family: 'Jeju Gothic';
}
h5{
	font-family:'Jeju Gothic';
	font-size: 20px;
}
html,body{
	font-family:'Nanum Gothic';
}
/*
.logo {
    display: block;
    background: url(img/navbar-brand.jpg) no-repeat;
    width: 190px;
    height: 58px;
    text-indent: -10000px;
    overflow: hidden;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    transition-duration: 0.2s;
    top: 4px;
}*/

/*------------------   로  그  인 & 아 웃  -----------------------------------------------*/

.jumbotron{
	background-image: url('../img/main.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	text-shadow: blue 0.2em 0.2em 0.2em;
	color:white;
	max-width: 100%;
	max-height: 100%;
	padding-top: 50px
}

.joinbox{
	background-image: url('../img/joinbox.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 100%;
	max-height: 100%;
	padding-top: 60px;
	padding-bottom: 60px;
}
.loginbox{
	background-image: url('../img/loginbox.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 100%;
	max-height: 100%;
	padding-top: 60px;
	padding-bottom: 60px;
}

/*------------------   메  뉴  -------------------------------------------------*/

.todayMenu{
	weigth:70%;
	margin:30px;
	margin-top:50px;
	font-size:0.8em;
	text-align:center;
	align-content:center;
	/*background-color:rgba(71, 99, 255, 0.1); */
}

.todayHead{
	font-weight: bold;
	margin:30px;
	padding:30px;
	font-size:1.5em;
	color:DodgerBlue;
	
	/*background-color:rgba(71, 99, 255, 0.1); */
}

.building{
	margin:30px;
	font-size:2em;
}
.bbs{
	margin:30px;
	weight:90%;
}
.bbsHeader{
	color:deepblue;
	font-weight: bold;
	font-size:1.5em;
}
.menu{
	text-align: center;
	weight:100%;
	height:300px;
	align-content:center;
	/*border:1px solid skyBlue ;*/
}
#buildingTitle{
	font-size: 1.8em;
	background:rgba(71, 99, 255, 0.1);
	text-align: center; 
	color:LightSeaGreen ;
    /*text-decoration: underline overline;*/
}
#menuTitle{
	font-size: 1.3em;
	background:rgba(71, 99, 255, 0.1);
	text-align: center; 
	color:DeepSkyBlue ;
    /*text-decoration: underline overline;*/
}
#menuPrice{
	color:orange;
	font-size: 1.2em;
	background:rgba(255, 99,71, 0.1);
	vertical-align:baseline;
}
.weekmenu{
	text-align: center;
	weight:100%;
	align-content:center;
	border:1px solid skyBlue ;
}
#weekmenuTitle{
	color:black;
	font-size: 1.5em;
	text-align: center; 
	
    /*text-decoration: underline overline;*/
}
.outlineimg{
	background-image: url('../img/outline.jpg');
	background-repeat: no-repeat;
	width: 100%;
	min-height:50px;
}

/*----------------- 식 권  -------------------------------------------------*/
label.__checkboxArea{
	background:url("../img/uncheck.png")no-repeat 0 center; 
	background-size:50px 50px;
	background-position:center;
	padding:10px;
}
label.__checkboxArea.active{ 
	background:url("../img/check.png")no-repeat 0 center; 
	background-size:30px 30px; 
	background-position:center;	
	
} 


.purchase{
	font-size: 1.5em;
	text-align: center;
	width: 90%;
}

/*----------------- 식 권  테이블 -----------------*/

.ticket{
	border-collapse: collapse;
	font-size: 1.5em; 
	width: 100%;
    height: 200px;
}
.ticket thead{
	text-align: center;
	border-bottom: 3px solid #168;
	padding: 10px;
	font-weight: bolder;
	font-family: 'Do Hyeon', sans-serif;
}
.ticket td {
  color: #669;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.ticket input[type=checkbox]{ 
	width:50px; height:50px; margin:0; padding:0;
}
.ticket input[type=text]{ 
	width:150px; height:50px;margin:0; padding:0; 
	border-color:white;
	text-align: center;
}
.ticket input[type=button]{ 
	width:50px; height:50px;margin:0; padding:0; 
	text-align: center;
}

/*----------------- 회원가입 유효성 검사  -------------------------------------------------*/
input {height:40px; border:3px #c0c0c0 solid}
.LV_valid {color:#00CC00;}
.LV_invalid {color:#CC0000;}
.LV_validation_message{font-weight:bold;margin:0 0 0 5px;}
.LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active,
.fieldWithErrors input.LV_valid_field,
.fieldWithErrors textarea.LV_valid_field {
    border: 1px solid #00CC00;
}
.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active,
.fieldWithErrors input.LV_invalid_field,
.fieldWithErrors textarea.LV_invalid_field {
    border: 1px solid #CC0000;
}